body {
	color: #777777;
	background: url("../images/stonehaven.png");
	border-color: #dddddd;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

h1, h2, h3 {
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;

}

p {
	padding-bottom:20px;
}

h1 {
	background-color: #4aaaa5;
	color: white;
	margin-left:100px;
	padding:30px 20px 50px 20px;
	height: auto;
	text-align: center;
}



header {
	background-color: #ffffff;
	border-color: #cccccc;
	display: flex;
	font-family: 'Georgia', Times, Times New Roman, serif;
	position: static;
	top: 0;
	height: 125px;
}

.about-portoflio-contact {
	flex: 1;
	text-align: center-right;
	margin-left: 350px;
	padding: 40px 100px 40px 40px;
}

footer {
	background-color: #666666;
	padding: 30px 0px 30px 0px;
	width:100%;
	height: 20px;
	text-align: center;
	border-top:solid;
	border: 20px;
 	border-color: green;
	position: fixed;
	left: 0;
	bottom:0;
}

.profile-pic {
	width: 100px;
	float: left;
}

.hline {
	padding: 0;
   margin: 8px auto;
   height: 0;
   width: 100%;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   border: none;
   border-top: 1px solid #aaaaaa;
   border-bottom: 1px solid #ffffff;
}




 .about-me {
 	padding: 40px 50px 40px 50px;
 	flex: 2;
 	width: 650px;
 	height: 300px;
 	margin-right: 40px;
 	background-color: white;
 	border: solid;
 	border-size: 2px;
 	border-color: gray;
 }



 .connect {
 	padding: 20px 20px 20px 20px;
 	flex: 1;
 	width: 270px;
 	height: 100px;
 	margin-left: 40px;
 	background-color: white;
 	text-align: center;
 	border: solid;
 	border-size: 2px;
 	border-color: gray;
 }

 .hline2 {
	padding: 0;
   margin: 8px auto;
   height: 0;
   width: 90%;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   border: none;
   border-top: 1px solid #aaaaaa;
   border-bottom: 1px solid #ffffff;
}

  .content {
 	display: flex;
 	margin:30px 0px 30px 100px;
 	width: 960px;
 }

 .github, .linkedin, .stack {
	width: 30px;
 }



